<div class="main">

<br>
<br>
<br>
<br>
<div class="container">
<form class="form" action="/contacto" method="post">
<div class="form-header">
  <br>
  <h1 class="title">Contacto</h1>
  <hr>
<br>
<br>
</div>
<label for="nombre" class="label">Nombre:</label>
<input type="text" id="nombre" class="input" name="nombre" placeholder="Escriba su nombre y apellido">
<label for="apellido" class="label">Asunto:</label>
<input type="text" id="asunto" class="input" name="asunto" placeholder="Escriba su asunto">
<label for="mail" class="label">Mail:</label>
<input type="email" id="mail" class="input" name="mail" placeholder="Escriba su dirección de mail">
<label for="mensaje" class="label">Mensaje:</label>
<textarea id="mensaje" class="form-textarea" name="mensaje" placeholder="Escriba su mensaje"></textarea>

<input type="submit" class="btn-submit" value="Enviar">
</form>
{{#if message}}
<p> {{message}}</p>
{{/if}}
</div>


</div>
</div>
