<div class="main">





<div class="transform">

<ul class="main-nav">
<li class="item1">
<div class="bg"></div>
</li>
<li class="item2">
<div class="bg"></div>
</li>
<li class="item3">
<div class="bg"></div>
</li>
<li class="item4">
<div class="bg"></div>
</li>
<li class="item5">
<div class="bg"></div>
</li>
<li class="item6">
<div class="bg"></div>
</li>
<li class="item7">
<div class="bg"></div>
</li>
<li class="item8">
<div class="bg"></div>
</li>
</ul>
</div>

<script type="text/javascript">

$("#item1").click(function() {
$('.transform').toggleClass('transform-active');
});
</script>
</div>
</div>
