<div class="main">
    <div class="content">


      <h1> <br>Quienes <br><span>Somos</span></h1>
      <br>
      <hr>
</div>

<h2 class="ttl"> Keanu </h2>
<br>
<div class="perfil1">

  <br>
<img class="p1" src="images/keanu.jpg" alt="Keanu">
<p class="par">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud <br> exercitation ullamco laboris nisi ut aliquip
  ex ea commodo consequat.</p>
</div>
<br>
<br>
<h2 class="ttl2"> Anne</h2>
<br>
<div class="perfil2">

  <br>
<img class="p2" src="images/anne.jpg" alt="Anne">
<p class="par2">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud <br> exercitation ullamco laboris nisi ut aliquip
  ex ea commodo consequat.</p>
</div>

  </div>
</div>
